*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0 130px;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #b3b5b8;
    padding-top: 5px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.p{
    font-family: 'Noto Sans', sans-serif;
    color: #9c9d9e;
}
h1{
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    opacity: 0.9;
}
i{
    font-size: 14px;
    color: #b3b5b8;
    margin-right: 8px;
}
.button{
    height: 25px;
    padding: 0 5px;
    border: 2px solid #9c9d9e;
    border-radius: 5px;
    color: #9c9d9e;
    background-color: white;
}
nav{
    width: 100%;
    height: 50px;
    padding: 10px 5px;
}
ul{
    display: flex;
    list-style-type: none;
    font-family: 'Noto Sans', sans-serif;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #9c9d9e;
}
section{
    background-color: #343a40;
    border-radius: 5px;
    height: 300px;
    padding: 35px 0 0 40px;
    color: white;
}
.insec{
    width: 40%;
}
.insec h1{
    font-size: 45px;
    font-weight: lighter;
    line-height: 50px;
    font-style: italic;
}
.insec p{
    font-family: 'Noto Sans', sans-serif;
    margin-top: 15px;
}
.insec h5{
    font-family: 'Noto Sans', sans-serif;
    color: #eff3f8;
    margin-top: 15px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
}
.inarc{
    display: flex;
    height: 260px;
    justify-content: space-between;
    align-items: center;
}
.innarc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49%;
    height: 220px;
    border: 1px solid #343a40;
    border-radius: 4px;
}
.innnarc11 h3{
    color: hsl(212.09deg 100% 57.84%);   
    font-family: 'Noto Sans', sans-serif;
    margin-top: -5px;
    margin-bottom: 5px;
}

.innnarc21 h3{
    color: hsl(133.33deg 51.09% 44.9%);
    font-family: 'Noto Sans', sans-serif;
    margin-top: -5px;
    margin-bottom: 5px;
}
small{
    display: inline-block;
    margin-top: -20px;
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    color: #9c9d9e;
}
.innnarc11 p{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    color: black;
}
.innnarc21 p{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    color: black;
}
.innnarc11 a{
    color: hsl(212.42deg 100% 61.18%);
    margin-bottom: -10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}
.innnarc21 a{
    color: hsl(212.42deg 100% 61.18%);
    margin-bottom: -10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}
.innnarc11{
    width: 45%;
    margin: 0 25px;
}
.innnarc12{
    width: 40%;
    height: 220px;
    padding: 100px 60px;
    background-color: #343a40;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}
.innnarc21{
    width: 45%;
    margin: 0 25px;
}
.innnarc22{
    width: 40%;
    height: 220px;
    padding: 100px 60px;
    background-color: #343a40;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
}
