*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.parallex-1 {
    width: 100%;
    background-image: url(bg2.jpg);
    height: 600px;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallex-1 p {
    position: relative;
    top: 50px;
    left: 100px;
    text-align: left;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;

}
.parallex-2 {
    width: 100%;
    background-image: url(bg1.jpg);
    background-size: 100% 100%;
    height: 600px;
    background-attachment: fixed;
}
.parallex-2 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}
.para-1 {
    padding: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
}


