body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 30px;
}
.one{
    background-color: black;
    color: white;
    width: 80%;
    border: 3px solid rgb(36, 24, 24);
    border-radius: 20px;
    text-align: center;
}

.two{
   color: black;
   background-color: red;
   width: 35%;
   border: 1px solid rgb(139, 5, 5);
   border-radius: 10px;
   text-align: center;
}
.three{
    color: black;
    background-color: red;
    width: 35%;
    border: 1px solid rgb(139, 5, 5);
    border-radius: 10px;
    text-align: center;
}

.four{
   color: black;
   background-color: red;
   width: 35%;
   border: 1px solid rgb(139, 5, 5);
   border-radius: 10px;
   text-align: center;
}
.five{
    color: black;
    background-color: red;
    width: 35%;
    border: 1px solid rgb(139, 5, 5);
    border-radius: 10px;
    text-align: center;
}

.six{
   color: black;
   background-color: red;
   width: 35%;
   border: 1px solid rgb(139, 5, 5);
   border-radius: 10px;
   text-align: center;
}
